@import 'null.scss';

.wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #edf1f2;
}

.main{
    flex: 1 0 100%;
    margin: 50px auto 0px;
    width: 1280px;

}

.header{
    width: 100%;
    position: fixed;
    a,a:visited{
        color: #EDF1F2;
    }
    font-size: 18px;
    font-weight: 700;
    color: #EDF1F2;
    height: 50px;
    background-color: #3A3F45;
}

.header-container{
    margin: 0px auto;
    height: 100%;
    width: 1280px;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;

}

.header-menu-item{
    margin-right: 30px;
    &:last-child{
        margin-right: 0px;
    }
}

.header input{
    height: 20px;
    width: 400px;
    border-radius: 5px;
    background-color: #7d848d;
    border: none;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}

.header-search-button{
    background-color: #ffffff00;
    border: none;
    position: relative;
    top: 2px;
}

.header-user-container{
    display: flex;
    align-items: center;
    div{
        margin-right: 20px;
    }
}

.header-logout-button{
    background-color: #ffffff00;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #EDF1F2;
    padding: 0px;
}

.main-index{
    display: flex;
    margin-top: 20px;
}

.index-aside-price{
    margin-bottom: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.168);
    border-radius: 2px;
}

.index-aside-filter-label{
    margin: 30px 0px 15px;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
}

.index-aside-filter-label-first{
    margin-top: 0px;
}


.index-aside-filter{
    width: 200px;
    border: none;
    background-color: #ffffff00;
    font-size: 16px;
    height: 230px;
    overflow: auto;
    option{
        margin-bottom: 10px;
    }
}

.index-aside-sort{
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    background-color: #ffffff00;
    border: none;
}

.index-aside-button{
    border: none;
    box-shadow: 1px 1px 1px 1px #02020277;
    font-size: 16px;
    background-color: #dfe3e4;
    padding: 3px;
    border-radius: 3px;
}

