@import 'null.scss';

.wrapper{
    display:flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #edf1f2;
}

.main{
    flex: 1 0 100%;
    margin: 50px auto 0px;
    width: 1280px;

}

.header{
    width: 100%;
    position: fixed;
    a,a:visited{
        color: #EDF1F2;
    }
    font-size: 18px;
    font-weight: 700;
    color: #EDF1F2;
    height: 50px;
    background-color: #3A3F45;
}

.header-container{
    margin: 0px auto;
    height: 100%;
    width: 1280px;
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: flex;

}

.header-menu-item{
    margin-right: 30px;
    &:last-child{
        margin-right: 0px;
    }
}

.header input{
    height: 20px;
    width: 400px;
    border-radius: 5px;
    background-color: #7d848d;
    border: none;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}

.header-search-button{
    background-color: #ffffff00;
    border: none;
    position: relative;
    top: 2px;
}

.header-user-container{
    display: flex;
    align-items: center;
    div{
        margin-right: 20px;
    }
}

.header-logout-button{
    background-color: #ffffff00;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #EDF1F2;
    padding: 0px;
}

.main-index{
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.index-aside-price{
    margin-bottom: 10px;
    width: 150px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.168);
    border-radius: 2px;
}

.index-aside-filter-label{
    margin: 30px 0px 15px;
    font-weight: 700;
    font-size: 18px;
    color: #383838;
}

.index-aside-filter-label-first{
    margin-top: 0px;
}


.index-aside-filter{
    width: 200px;
    border: none;
    background-color: #ffffff00;
    font-size: 16px;
    height: 230px;
    overflow: auto;
    option{
        margin-bottom: 10px;
    }
}

.index-aside-sort{
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    background-color: #ffffff00;
    border: none;
}

.index-aside-button{
    border: none;
    box-shadow: 1px 1px 1px 1px #02020277;
    font-size: 16px;
    background-color: #dfe3e4;
    padding: 3px;
    border-radius: 3px;
}

.index-game-list{
    margin-left: 30px;
    width: 100%;
}

.index-game-list-item{
    width: 100%;
    display: flex;
    padding: 30px 0px 30px;
    &:first-child{
        padding-top: 0px;
    }
    &:last-child{
        padding-bottom: 0px;
    }
    border-bottom: 1px solid black;
    
}

.index-game-list-item-image{
    img{
        border-radius: 5px;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.37);
    }
    margin-right: 20px;
}

.index-game-list-item-content{
    margin-right: auto;
    width: 400px;
}

.index-game-list-item-title{
    font-size: 22px;
    font-weight: 700;
    color: #383838;
    margin-bottom: 10px;
}

.index-game-list-item-release{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 7px;
}

.index-game-list-item-genres{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.index-game-list-item-right{
    a, a:visited{
        color: #383838;
    }
    font-weight: 700;
}

.index-game-list-item-price{
    font-size: 20px;
    margin-bottom: 80px;
    text-align: right;
}

.index-game-list-item-span-price{
    text-decoration: line-through;
}

.index-game-list-item-span-sale-price{
    color: rgb(201, 15, 15);
}

.index-game-list-item-control{
    a{
        font-size: 25px;
    }
    font-size: 20px;
    div{
        display: inline-block;
    }
}

.index-game-list-item-button{
    width: 150px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #02020277;
    font-size: 16px;
    background-color: #dfe3e4;
    padding: 7px;
    border-radius: 3px;
    font-size: 22px;
}




