{% extends 'base.html'%}

{% block content %}
<div class="users-title">{{title}}</div>
<div class="profile-main">
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="users-button profile-button"><button type="submit">Изменить данные</button></div>
</form>
<div class="users-links"><a href="{% url 'users:password_change' %}">Изменить пароль</a></div>

<ul class="profile-key-list">
    {% for key in keys %}
        <li class="profile-key">
            <div class="profile-key-game-image"><img src="{{key.game.image.url}}" width="100px"/></div>
            <div class="profile-key-game-text">{{key.game.title}}</div>
            <div class="profile-key-game-text">{{key.key}}</div>
            {% if not key.review %}
                <div class="profile-key-game-text profile-key-game-text-last"><a href="{% url 'add_review' key.slug %}">Написать отзыв</a></div>
            {% endif %}
        </li>
    {% endfor %}
</ul>

<div class="users-links"><a href="{% url 'show_review' %}?choice=my">Мои отзывы</a></div>
</div>
{% endblock %}