* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  color: #5d5d5d;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #edf1f2;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin: 50px auto 0px;
  width: 1280px;
}

.header {
  width: 100%;
  position: fixed;
  font-size: 18px;
  font-weight: 700;
  color: #EDF1F2;
  height: 50px;
  background-color: #3A3F45;
}
.header a, .header a:visited {
  color: #EDF1F2;
}

.header-container {
  margin: 0px auto;
  height: 100%;
  width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu-item {
  margin-right: 30px;
}
.header-menu-item:last-child {
  margin-right: 0px;
}

.header input {
  height: 20px;
  width: 400px;
  border-radius: 5px;
  background-color: #7d848d;
  border: none;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
}

.header-search-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: relative;
  top: 2px;
}

.header-user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-user-container div {
  margin-right: 20px;
}

.header-logout-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 18px;
  font-weight: 700;
  color: #EDF1F2;
  padding: 0px;
}

.main-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  width: 100%;
}

.index-aside-price {
  margin-bottom: 10px;
  width: 150px;
  border: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.168);
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.168);
  border-radius: 2px;
}

.index-aside-filter-label {
  margin: 30px 0px 15px;
  font-weight: 700;
  font-size: 18px;
  color: #383838;
}

.index-aside-filter-label-first {
  margin-top: 0px;
}

.index-aside-filter {
  width: 200px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  height: 230px;
  overflow: auto;
}
.index-aside-filter option {
  margin-bottom: 10px;
}

.index-aside-sort {
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.index-aside-button {
  border: none;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
          box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
  font-size: 16px;
  background-color: #dfe3e4;
  padding: 3px;
  border-radius: 3px;
}

.index-games-not-found {
  font-size: 20px;
}

.index-game-list {
  margin-left: 30px;
  width: 100%;
}

.index-game-list-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px 30px;
  border-bottom: 1px solid black;
}
.index-game-list-item a, .index-game-list-item a:visited {
  color: #383838;
}
.index-game-list-item:first-child {
  padding-top: 0px;
}
.index-game-list-item:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}

.index-game-list-item-image {
  margin-right: 20px;
}
.index-game-list-item-image img {
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.37);
          box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.37);
}

.index-game-list-item-content {
  margin-right: auto;
  width: 400px;
}

.index-game-list-item-title {
  font-size: 22px;
  font-weight: 700;
  color: #383838;
  margin-bottom: 10px;
}

.index-game-list-item-release {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  margin-bottom: 7px;
}

.index-game-list-item-genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
}

.index-game-list-item-right {
  font-weight: 700;
}

.index-game-list-item-price {
  font-size: 20px;
  margin-bottom: 80px;
  text-align: right;
}

.index-game-list-item-span-price {
  text-decoration: line-through;
}

.index-game-list-item-span-sale-price {
  color: rgb(201, 15, 15);
}

.index-game-list-item-control {
  font-size: 20px;
}
.index-game-list-item-control a {
  font-size: 25px;
}
.index-game-list-item-control div {
  display: inline-block;
}

.index-game-list-item-button {
  width: 150px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
          box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
  font-size: 16px;
  background-color: #dfe3e4;
  padding: 7px;
  border-radius: 3px;
  font-size: 22px;
}

.page_list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page_list li {
  margin-right: 10px;
  font-size: 22px;
  font-weight: 700;
}
.page_list li a, .page_list li a:visited {
  color: #383838;
}

.game-title {
  font-size: 26px;
  font-weight: 700;
  color: #383838;
  margin: 30px 0px;
}

.game-info-image {
  margin-right: 30px;
}

.game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  color: #383838;
  margin-bottom: 30px;
}
.game-info a, .game-info a:visited {
  color: #383838;
}

.game-info-data {
  width: 500px;
  height: 255px;
  margin-right: auto;
}

.game-info-extra-item {
  font-size: 16px;
  margin-bottom: 10px;
}

.game-info-extra {
  margin-bottom: 40px;
}

.game-info-buing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.game-info-money {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.game-info-sale-price {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.game-info-price {
  font-size: 26px;
  font-weight: 700;
}

.game-info-price-line_through {
  text-decoration: line-through;
  font-size: 20px;
}

.game-info-buy-sold {
  font-size: 20px;
}

.game-info-buy-button {
  width: 150px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
          box-shadow: 1px 1px 1px 1px rgba(2, 2, 2, 0.4666666667);
  background-color: #dfe3e4;
  padding: 7px;
  border-radius: 3px;
  font-size: 22px;
}

.game-info-control {
  font-size: 20px;
}
.game-info-control a {
  font-size: 25px;
}
.game-info-control div {
  margin-right: 10px;
  display: inline-block;
}

.game-series {
  color: #383838;
  margin-bottom: 30px;
}
.game-series a, .game-series a:visited {
  color: #383838;
}

.game-series-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.game-series-item {
  height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(56, 56, 56, 0.4);
}
.game-series-item:first-child {
  border-top: 2px solid rgba(56, 56, 56, 0.4);
}

.game-series-info {
  margin-right: auto;
}

.game-series-image {
  margin-right: 15px;
}

.game-series-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.game-series-price {
  margin: 35px 35px 0px 0px;
  font-size: 20px;
  font-weight: 700;
}

.game-extra {
  color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.game-extra-description {
  width: 800px;
}

.game-extra-description-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.game-extra-description-content {
  font-size: 16px;
}

.game-extra-system-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.game-extra-system-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.game-extra-system-item:last-child {
  margin-bottom: 0px;
}

.game-reviews {
  color: #383838;
}
.game-reviews li {
  border-bottom: 1px solid #383838;
  padding-bottom: 20px;
}

.game-reviews-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.game-review-date {
  margin-bottom: 15px;
}

.game-review-name {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.game-review-content {
  font-size: 16px;
  text-indent: 15px;
}

.review-list-title {
  font-size: 26px;
  margin: 50px 0px;
  text-align: center;
}

.review-list-item {
  background-color: #fff1de;
  padding: 30px 0px;
  border-bottom: 1px solid #383838;
}
.review-list-item:first-child {
  padding-top: 0px;
}

.add-review-form {
  height: 300px;
  width: 500px;
  margin-bottom: 30px;
}

.add-review-form-container {
  width: 100%;
  text-align: center;
}

.add-review-image {
  text-align: center;
  margin-bottom: 20px;
}

.add-review-title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0px;
}

.footer {
  background-color: #3A3F45;
  color: #EDF1F2;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.footer-info {
  margin-top: 10px;
}