{% extends 'base.html' %}

{% block content %}
<div class="main-index">
    <aside class="index-aside">
        <form action="" method="get">
        <div class="form-error">{{form.non_field_errors}}</div>
            <div class="index-aside-filter-label index-aside-filter-label-first">Цена</div>
        {% for f in form %}
            {% if f.label == 'от: ' or f.label == 'до: ' %}
            <p class="index-aside-filter-price"><label  for="f.id_for_label">{{f.label}}</label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% else %}
            <div class="index-aside-filter-label">{{f.label}}</div>
            <p>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="index-aside-button">Применить</button>
        </form>
    </aside>

    <ul class="index-game-list">
    {% for g in games %}
       <li class="index-game-list-item">
           <div><img src="{{g.image.url}}" width="250"/></div>
       </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}