{% extends 'base.html' %}

{% block content %}
<div class="main-index">
    <aside class="index-aside">
        <form action="" method="get">
        <div class="form-error">{{form.non_field_errors}}</div>
            <div class="index-aside-filter-label">Цена</div>
        {% for f in form %}
            {% if f.label == 'от: ' or f.label == 'до: ' %}
            <p class="index-aside-filter-price"><label  for="f.id_for_label">{{f.label}}</label>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% else %}
            <div class="index-aside-filter-label">{{f.label}}</div>
            <p>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="index-aside-button">Применить</button>
        </form>
    </aside>

    <ul>
    {% for g in games %}
       <li> {{g.title}}
           {% if g.image %}
           <img src="{{g.image.url}}" width="300px"/>
           {% endif %}
           {% if user.is_authenticated %}
           <a href="{% url 'cart:add_item' g.slug %}">Добавить в корзину</a>
           {% endif %}
       </li>
    {% endfor %}
    </ul>
</div>


{% endblock %}